@model UniversityManagement.Web.ViewModel.DepartmentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View All Departments</h2>
<table class="table">
    <thead>
    <tr>
        <td>Code</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var dept in Model.departments)
    {
        <tr>
            <td>@dept.Code</td>
            <td>@dept.Name</td>
        </tr>
    }

    </tbody>
</table>
