@model UniversityManagement.Web.ViewModel.CourseListingViewModel

@{
    ViewBag.Title = "Index";
}

<h2>View All Courses</h2>

<table class="table">
    <thead>
    <tr>
        <td>Code</td>
        <td>Name</td>
        <td>Semester</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var course in Model.Courses)
    {
        <tr>
            <td>@course.Code</td>
            <td>@course.Name</td>
            <td>@course.Semester</td>
        </tr>
    }

    </tbody>
</table>

